<footer class="bg-dark text-white text-center py-3 mt-auto w-100">
    <div class="container">
      <p class="mb-1">&copy; 2025 CSUMB</p>
      <p class="mb-0 small text-light">
        Joshua Sumagang, Jauris Mousa, Jiaheng Xu, Gael Romero, Adam Woolery
      </p>
    </div>
  </footer>
  </body>
  </html>
  