body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header nav {
    background-color: #54626b;
    padding: 10px;
    text-align: center;
}

header nav a {
    background-color: rgb(120, 113, 104);
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    background-color: #404346;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    background: #404346;
    margin-top: 10PX;
}