body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    background: #404346;
    margin-top: 10PX;
}

.btn {  
    background-color: silver;
}

.form-label {
    background-color: gold;
}

#icon {
    text-align: center;
}